<script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });

    $(document).ready(function() {
        $('#delTable').DataTable();
    });
</script>
</div>
<div class="footer-padding"></div>
<div class="footer">
    <p style="font-size:15px">©️COVENDURE</p>
</div>
</div>
</body>

</html>
