<%- include("partials/header") -%>

<div class="text-center">
    <h1>About Us</h1>
    <h4 class="top">We are providing all the information of bed availabilities for Covid-19,</h4>
    <h4>that are adhered and conveyed by our team directly in contact with the medical institutions.</h4>
</div>


<%- include("partials/footer") -%>
