<%- include("partials/header") -%>

<div class="" style="text-align: center">
    <h1 >Contact</h1>
    <h3>Feel free to contact us anytime.</h3>

    <h4>Founder: Jay Surya: <a href="mailto:makejaygreatagain@gmail.com">makejaygreatagain@gmail.com</a></h4>
    <h4>Co-Founder and Web Developer: Mahesan: <a href="mailto:mahesan.cs20@bitsathy.ac.in">mahesan.cs20@bitsathy.ac.in</a></h4>
    <h4>Director: Bharventh: <a href="mailto:bharventh2002@gmail.com">bharventh2002@gmail.com</a></h4>
</div>


<%- include("partials/footer") -%>
